<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jx.shardingsphere.dao.OrderMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jx.shardingsphere.entity.Order">
        <id column="order_id" property="orderId" />
        <result column="user_id" property="userId" />
        <result column="status" property="status" />
        <result column="time" property="time" />
        <result column="amount" property="amount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        order_id, user_id, status, time, amount
    </sql>

    <select id="qryOrderPage" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from t_order
    where user_id = #{userId}
    </select>

</mapper>
